*.key
.vault.key
secrets
inventory/hosts.ini
inventory/hosts.yml
inventory/services/adauab
inventory/services/kalimero
inventory/sites/adauab
inventory/sites/kalimero
inventory/sites/test
inventory/sites/base-ada.yml
inventory/sites/base-kalimero.yml
inventory/redi
ansible.cfg
venv
tmp
.git
*.swp
2delete
logs
*batchSync-*
configs/secret.yml
*.log
