# Justfile for service actions

# This list of actions
service:
    just -l --unsorted | grep service


# Sample calls
service-tldr:
    # Sample of calls:
    # $ just service-create traefik $SERVER     # To install traefik.
    @ echo ""
    # > To get a commented list of actions use "just service"


# Shows how to use the script
service-help:
    # README SERVICE
    @ cat {{ servicePath }}/README.md
    @ echo ""


# An alias for "just list service"
service-list:
    @ just list service


# Creates an ansible vault with default. Actions are:
# - create: Vault is saved at "configs/secrets.yml" with the password passed and stored at .vault.key (check your permissions).
# - edit:   Edits the deault vault in "configs/secrets.yml" with the password stored at .vault.key:
service-vault action:
    @ if [[ "${action}" == "create" ]]; then \
        echo "${2}" >> ${serviceVaultKey}; \
        ansible-vault create --vault-password-file=${vaultKey} ${vaultPath} \
    elif [[ "${create}" == "edit" ]]; then \
        ansible-vault edit --vault-password-file={{ vaultKey }} {{ vaultPath }} \
    else \
        echo "Unknown action"; \
    fi


# Runs an action with:
# - Action: Is the playbook name (without .yml) from playbooks/service.
# - Site: A "site" is an ansible dictionary read from inventory/sites.
# - Host: A "host" Acording to the inverntory/hosts.yml
# - Args: Additional arguments.
# 
# Runs an action (playbook) with the specified site (dictionary) in the selected host.
service-run action site host *args:
    ansible-playbook -i {{ host }}, --vault-password-file {{ servicePath }}/{{ vaultKey }} {{ dojoPath }}/{{ action }}.yml -e "site={{ site }}" {{ args }}


# Creates a full service acording to the dictionary in inventory/services/<service>.yml 
# Following playbooks will be called: service-create.yml
service-create service host *args:
    @ echo "WARNING: Creating a service will overwrite existing one."
    @ echo "Are you sure you like to run playbook service-create.yml \
    for [{{ service }}] on [{{ host }}]?" && \
    ansible-playbook -i {{ host }}, --vault-password-file {{ servicePath }}/{{ vaultKey }} \
     {{ servicePath }}/service-create.yml \
     -e "service={{ service }}" -e "host={{ host }}" -K {{ args }}