#########################################################################
#
# General settings
# File: docker-compose.yml
#
# Site:      {{ service }}
# Tool:      {{ allVars.dojo.tool }}
# Version:   {{ allVars.dojo.version }}
# Creation:  {{ fileCreation }}
#
#########################################################################


networks:
  inside:
    external: false

services:
  plausible_db:
    image: {{ allVars.images.db | default('postgres:16-alpine') | safe }}
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      start_period: 1m
    networks:
      - inside
    restart: unless-stopped

  plausible_events_db:
    image: {{ allVars.images.events | default('clickhouse/clickhouse-server:24.3.3.102-alpine') | safe }}
    env_file:
      - .env
    volumes:
      - event-data:/var/lib/clickhouse
      - event-logs:/var/log/clickhouse-server
      - ./volumes/config/clickhouse/logs.xml:/etc/clickhouse-server/config.d/logs.xml:ro                        # change
      # This makes ClickHouse bind to IPv4 only, since Docker doesn't enable IPv6 in bridge networks by default.
      # Fixes "Listen [::]:9000 failed: Address family for hostname not supported" warnings.
      - ./volumes/config/clickhouse/ipv4-only.xml:/etc/clickhouse-server/config.d/ipv4-only.xml:ro              # change
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 -O - http://127.0.0.1:8123/ping || exit 1"]
      start_period: 1m
    networks:
      - inside
    restart: unless-stopped

  app:
    image: {{ allVars.images.plausible | default('ghcr.io/plausible/community-edition:v2.1.4') | safe }}
    command: sh -c "/entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"
    env_file:
      - .env
    depends_on:
      plausible_db:
        condition: service_healthy
      plausible_events_db:
        condition: service_healthy
    volumes:
      - plausible-data:/var/lib/plausible
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    networks:
      - inside
    restart: unless-stopped

volumes:
  db-data:
    name: db-data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/volumes/db
  event-data:
    name: event-data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/volumes/private
  event-logs:
    name: event-logs
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/volumes/logs
  plausible-data:
    name: plausible-data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/volumes/public
