#########################################################################
#
# General settings# File: docker-compose.override.yml
#
# Site:      {{ service }}
# Tool:      {{ allVars.dojo.tool }}
# Version:   {{ allVars.dojo.version }}
# Creation:  {{ fileCreation }}
#
#########################################################################


{% set traefik_rule = "Host(" + proxy.domains + ")" %}
{% if proxy.pathprefix is defined %}
{%   set traefik_rule = traefik_rule + " && PathPrefix(`/" + proxy.pathprefix + "`)" %}
{% endif %}

services:
  app:
    labels:
      # Enable traefik for this stack:
      - "traefik.enable=true"

      # HTTP routers:
      # - "traefik.http.routers.{{ allVars.dojo.id | lower }}.rule={{traefik_rule}}"
      # - "traefik.http.routers.{{ allVars.dojo.id | lower }}.entrypoints=webinsecure"
      # - "traefik.http.routers.{{ allVars.dojo.id | lower }}.middlewares={{ dojo.id | lower }}-redirect"

      # HTTPS routers:
      - "traefik.http.routers.{{ allVars.dojo.id | lower }}-secure.rule={{traefik_rule}}"
      - "traefik.http.routers.{{ allVars.dojo.id | lower }}-secure.entrypoints=websecure"
      - "traefik.http.routers.{{ allVars.dojo.id | lower }}-secure.tls=true"
      - "traefik.http.routers.{{ allVars.dojo.id | lower }}-secure.tls.certresolver=leresolver"

      # Redirect Scheme HTTP -> HTTPS:
      # - "traefik.http.middlewares.{{ allVars.dojo.id | lower }}-redirect.redirectscheme.scheme=https"
      # - "traefik.http.middlewares.{{ allVars.dojo.id | lower }}-redirect.redirectscheme.permanent=true"

    networks:
      - proxy

networks:
  proxy:
    external: true