#########################################################################
#
# File: docker-compose.yml
# Tool: {{ allVars.dojo.tool }}
# Version: {{ allVars.dojo.version }}
# Created: {{ fileCreation }}
#
#########################################################################

services:

  app:
    image: traefik:{{ allVars.dojo.version }}
    container_name: ${COMPOSE_PROJECT_NAME:-{{ allVars.dojo.id | lower }}}
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./volumes/config/certificates/acme:/etc/traefik/acme
      - ./volumes/config/certificates/host:/etc/traefik/host
      - ./volumes/config/providers:/etc/traefik/providers
{% if allVars.app.certificate.selfsigned | default(false) %}
      - ./volumes/config/certificates/selfsigned:/etc/traefik/selfsigned:ro
{% endif %}
    ports:
      - ${HTTP_PORT:-80}:{{ allVars.app.ports.http | default('80') }}
      - ${HTTPS_PORT:-443}:{{ allVars.app.ports.https | default('443') }}
      - ${API_HTTP_PORT:-8080}:{{ allVars.app.ports.api | default('8080') }}
    command:
      - "--api.dashboard={{ allVars.app.api.dashboard | string | lower }}"
      - "--api.insecure={{ allVars.app.api.insecure | string | lower }}"
{% if allVars.app.pilot.token is defined and allVars.app.pilot.token %}
      - "--pilot.token={{ allVars.app.pilot.token }}"
{% endif %}
      - "--log.level=${DEBUG_LEVEL:-INFO}"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network={{ allVars.app.network | default('proxy') }}"
      - "--providers.file.directory=/etc/traefik/providers"
      - "--providers.file.watch=true"
      - "--entrypoints.webinsecure.address=:{{ allVars.app.ports.http | default('80') }}"
      - "--entrypoints.websecure.address=:{{ allVars.app.ports.https | default('443') }}"
{% if not allVars.app.certificate.selfsigned | default(false) %}
{% if allVars.app.ports.redirect | default(false) %}
      - "--entrypoints.webinsecure.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.webinsecure.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.webinsecure.http.redirections.entrypoint.permanent=true"
{% endif %}
{% endif %}
{#- Configuración de certificados: autofirmado mediante archivo externo (tls.yml), o Let's Encrypt -#}
{% if not allVars.app.certificate.selfsigned | default(false) %}
{%   if allVars.app.certificate.method == 'http' %}
      - "--certificatesresolvers.leresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.leresolver.acme.httpchallenge.entrypoint=webinsecure"
{%   elif allVars.app.certificate.method == 'tls' %}
      - "--certificatesresolvers.leresolver.acme.tlschallenge=true"
{%   elif allVars.app.certificate.method == 'dns' %}
      - "--certificatesresolvers.leresolver.acme.dnschallenge=true"
{%   endif %}
{%   if allVars.app.certificate.staging | default(false) | bool %}
      - "--certificatesResolvers.leresolver.acme.caServer=https://acme-staging-v02.api.letsencrypt.org/directory"
{%   endif %}
      - "--certificatesresolvers.leresolver.acme.email={{ allVars.app.certificate.email }}"
      - "--certificatesresolvers.leresolver.acme.storage=/etc/traefik/acme/acme.json"
{% endif %}

    networks:
      - {{ allVars.app.network | default('proxy') }}

{% if not allVars.app.certificate.selfsigned | default(false) %}
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.rule: Host(`${DASHBOARD_DOMAIN:-{{ allVars.dojo.domain }}}`)
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.tls.certresolver: leresolver
{% endif %}

# Moved to override:
# networks:
#   {{ allVars.app.network | default('proxy') }}:
#     external: true
