# Load modules
LoadModule rewrite_module modules/mod_rewrite.so
## LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
## LoadModule expires_module modules/mod_expires.so

<VirtualHost *:80>
        ServerName localhost
        ServerAlias {{ dojo.domain }}
        ServerAlias {{ dojo.id }}

        DocumentRoot /var/www/html
        DirectoryIndex index.php index.html

        RewriteEngine On
        AcceptPathInfo On

        SetEnv HTTPS On
        # PassEnv HTTPS
        # SetEnvIf X-Forwarded-Proto "^https$" HTTPS=on

        ## SSLCertificateFile /etc/ssl/apache2/server.pem
        ## SSLCertificateKeyFile /etc/ssl/apache2/server.key

        <Directory /var/www/html>

                # Options FollowSymLinks
                # AllowOverride All
                # Require all granted

                # RewriteBase /

                ## Force httpS:
                ## RewriteCond %{HTTPS}  !=on 
                ## RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

                # Redirect root to index
                RewriteRule ^/?$ index.php/{{ dojo.id }}/index [L=307]
                RewriteRule ^{{ dojo.id }}$ index.php/{{ dojo.id }}/index [L=307]
                # Bloc admin pages with DB info:
                ## RewriteRule ^/?{{ dojo.id }}/index/admin/systemInfo/?$ /{{ dojo.id }}/index [L]

                ## Force httpS (basically to reach the API):
                RewriteCond %{HTTPS}  !=on
                RewriteCond %{REQUEST_URI} ^/{{ dojo.id }}\/api\/v1\/
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
                RewriteCond %{REQUEST_FILENAME} !-f
                RewriteRule ^/?(.*) https://%{SERVER_NAME}/{{ dojo.id }}/index.php/$1 [L,R=307]

                # OJS expects to be at root, so removing journal's subdomain:
                RewriteCond %{REQUEST_URI} ^/{{ dojo.id }}
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
                RewriteCond %{REQUEST_FILENAME} !-d
                RewriteCond %{REQUEST_FILENAME} !-f
                RewriteRule ^{{ dojo.id }}/(.*)$ $1 [QSA,L]

                ## Rewrite API calls if not including subdomain journals:
                RewriteCond %{REQUEST_URI} api\/v1\/
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
                RewriteCond %{REQUEST_FILENAME} !-f
                RewriteRule ^(.*)$ {{ dojo.id }}/index.php/{{ dojo.id }}/$1 [L,R=307]

                # Renames the short journal's rule:
                RewriteCond %{REQUEST_URI} !^index.php\/{{ dojo.id }}
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
                RewriteCond %{REQUEST_FILENAME} !-d
                RewriteCond %{REQUEST_FILENAME} !-f
                RewriteRule ^(.*)$ index.php/{{ dojo.id }}/$1 [QSA,L]

                # This removes index.php from the url (apache 2.2 and new ones)
                RewriteCond %{REQUEST_URI} !^/{{ dojo.id }}/index.php
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
                RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
                RewriteCond %{REQUEST_FILENAME} !-d
                RewriteCond %{REQUEST_FILENAME} !-f
                RewriteRule ^(.*)$ index.php/$1 [QSA,L]

        </Directory>

        # LogLevel alert rewrite:trace2

        ErrorLog  /var/log/apache2/error.log
        CustomLog  /var/log/apache2/access.log combined

</VirtualHost>