# Load modules
LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
LoadModule rewrite_module modules/mod_rewrite.so
## LoadModule expires_module modules/mod_expires.so

# Let apache know we're with SSL even behind a reverse proxy
SetEnvIf X-Forwarded-Proto "https" HTTPS=on

<VirtualHost *:80>
    ServerName localhost
    ServerAlias {{ dojo.domain }}
    ServerAlias {{ dojo.id }}
    DocumentRoot /var/www/html

    ## RewriteEngine On
    AcceptPathInfo On

    Alias /{{ proxy.pathprefix }} /var/www/html
    <Location /{{ proxy.pathprefix }}>
        Options FollowSymLinks
        AllowOverride all
        Allow from all

        # Remove index.php from the url
        ## RewriteCond %{REQUEST_FILENAME} !-d
        ## RewriteCond %{REQUEST_FILENAME} !-f
        ## RewriteRule ^(.*)$ index.php/$1 [QSA,L]
    </Location>

    LogLevel alert rewrite:trace2

    ErrorLog  /var/log/apache2/error.log
    CustomLog  /var/log/apache2/access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName localhost
    ServerAlias {{ dojo.domain }}
    ServerAlias {{ dojo.id }}

    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/ssl/apache2/server.pem
    SSLCertificateKeyFile /etc/ssl/apache2/server.key

    AcceptPathInfo On
    ## PassEnv HTTPS
    ## RewriteEngine on

    Alias /{{ proxy.pathprefix }} /var/www/html
    <Location /{{ proxy.pathprefix }}>
        Options FollowSymLinks
        AllowOverride all
        Allow from all

        # Remove index.php from the url
        ## RewriteCond %{REQUEST_FILENAME} !-d
        ## RewriteCond %{REQUEST_FILENAME} !-f
        ## RewriteRule ^(.*)$ index.php/$1 [QSA,L]
    </Location>

    LogLevel alert rewrite:trace2

    ErrorLog  /var/log/apache2/error.log
    CustomLog  /var/log/apache2/access.log combined
</VirtualHost>