# Load modules
LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
LoadModule rewrite_module modules/mod_rewrite.so
LoadModule expires_module modules/mod_expires.so

# The container is running with http behind an httpS reverse proxy, so...
# Trick01: Faking the schema to build httpS urls and avoid "Mixed content" issues.
SetEnvIf X-Forwarded-Proto "https" HTTPS=on

<VirtualHost *:80>
    ServerName localhost
    ServerAlias {{ dojo.domain }}
    ServerAlias {{ dojo.id }}

    RewriteEngine On
    AcceptPathInfo On

    # OJS is pysically installed in the container's webroot
    DocumentRoot /var/www/html

    # ... BUT, the URL includes a folder.
    # Trick 02: Apache will ignore the folder prefix and server webroot files.
    Alias /{{ dojo.id }} /var/www/html 

    <Directory /var/www/html>
        Options FollowSymLinks
        AllowOverride all
        Allow from all

        DirectoryIndex index.php index.html

        RewriteBase /

        # This removes index.php from the url and keeps the folder:
        RewriteCond %{REQUEST_URI} !/index.php
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ {{ dojo.id }}/index.php/$1 [QSA,L]

        # Rules to RUN ojs in domain's root (and admin in /install folder):
        # # Redirect root to index
        # RewriteRule ^/?$ /index [L]

        #### Redirect root to index
        # RewriteRule ^/?$ index.php/{{ dojo.id }}/index [L=307]
        # RewriteRule ^{{ dojo.id }}$ index.php/{{ dojo.id }}/index [L=307]

        # Bloc admin pages with DB info:
        ## RewriteRule ^/?{{ dojo.id }}/index/admin/systemInfo/?$ /{{ dojo.id }}/index [L]

        #### Force httpS (basically to reach the API):
        # RewriteCond %{HTTPS}  !=on
        # RewriteCond %{REQUEST_URI} ^/{{ dojo.id }}\/api\/v1\/
        # RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^/?(.*) https://%{SERVER_NAME}/{{ dojo.id }}/index.php/$1 [L,R=307]

        #### Removes folder slug from the url:
        # The url that includes a /folder but in the container OJS is installed in /var/www/html.
        # RewriteCond %{REQUEST_URI} ^/{{ dojo.id }}
        # RewriteCond %{REQUEST_FILENAME} !-d
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^{{ dojo.id }}/(.*)$ $1 [QSA,L=307]

        #### Rewrite API calls if not including subdomain journals:
        # RewriteCond %{REQUEST_URI} api\/v1\/
        # RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ {{ dojo.id }}/index.php/{{ dojo.id }}/$1 [L,R=307]

        #### Renames the short journal's rule:
        # RewriteCond %{REQUEST_URI} !^index.php\/{{ dojo.id }}
        # RewriteCond %{REQUEST_FILENAME} !-d
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ index.php/{{ dojo.id }}/$1 [QSA,L]

        #### This removes index.php from the url (apache 2.2 and new ones)
        # RewriteCond %{REQUEST_URI} !^/{{ dojo.id }}/index.php
        # RewriteCond %{REQUEST_FILENAME} !-d
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ index.php/$1 [QSA,L]








        # ## Force httpS (won't be necessary when OJS allows to force the protocol):
        # RewriteCond %{HTTPS}  !=on
        # RewriteCond %{REQUEST_URI} api\/v1\/
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^/?(.*) https://%{SERVER_NAME}/index.php/{{ dojo.id }}/$1 [L,R=307]
{% if pkp.general.base_url_index is defined %}
        # # To reach Admin pages
        # RewriteCond %{REQUEST_URI} ^/index/
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^/?(.*) {{ pkp.general.base_url_index }}/index.php/$1 [L,R=307]
{% endif %}
        # # Rewrite API calls to subdomain journals (avoid double redirection)
        # RewriteCond %{REQUEST_URI} {{ dojo.id }}\/api\/v1\/
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ index.php/{{ dojo.id }}$1 [L,R=307]

        # # Rewrite API calls to subdomain journals
        # RewriteCond %{REQUEST_URI} api\/v1\/
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ index.php/{{ dojo.id }}/$1 [L,R=307]

        # # Remes the short journal's rule:
        # RewriteCond %{REQUEST_URI} !/{{ dojo.id }}/index.php
        # RewriteCond %{REQUEST_FILENAME} !-d
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ index.php/{{ dojo.id }}/$1 [QSA,L]

        # # Rules to INSTALL:
        # # $$$call$$ redirection to journal
        # RewriteCond %{REQUEST_URI} ^\/\$\$\$call\$\$\$
        # RewriteRule ^(.*)$ https://%{SERVER_NAME}/index.php/{{ dojo.id }}/$1 [L,R=307]

        # # This removes index.php from the url
        # RewriteCond %{REQUEST_URI} !/index.php
        # RewriteCond %{REQUEST_FILENAME} !-d
        # RewriteCond %{REQUEST_FILENAME} !-f
        # RewriteRule ^(.*)$ index.php/$1 [QSA,L]
    </Directory>

    # LogLevel alert rewrite:trace2

    ErrorLog  /var/log/apache2/error.log
    CustomLog  /var/log/apache2/access.log combined
</VirtualHost>

# Keeping this to show how to configure virtual host if containers include certificates 
# UNTESTED and could collide with former rules.
<VirtualHost *:443>
    ServerName localhost
    ServerAlias {{ dojo.domain }}
    ServerAlias {{ dojo.id }}
    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/ssl/apache2/server.pem
    SSLCertificateKeyFile /etc/ssl/apache2/server.key

    PassEnv HTTPS
    RewriteEngine on
    AcceptPathInfo On

    <Directory /var/www/html>
        Options FollowSymLinks
        AllowOverride all
        Allow from all

        # Remove index.php from the url
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ index.php/$1 [QSA,L]
    </Directory>

    # LogLevel alert rewrite:trace2

    ErrorLog  /var/log/apache2/error.log
    CustomLog  /var/log/apache2/access.log combined
</VirtualHost>