## Template: ojs/apache.ojs.conf-3_3-folder.j2
## 
## This set of rules were created for single-tenant journals with a folder url
## with the journalContext visible (ie: https://foo.org/folderSlug/journalContext)
## behind a reverse proxy, but running in a container without ssl.
##
## Some notes:
## - Non final redirections need to be 307.
## - Conflictive redirections include the protocol (httpS) to avoid "mixed content".
## - API calls are captured to be redirected to site or journal.
## - Root folder is for the journal (single-tenant).
## - Admin pages are redirected to /index subfolder.
##
## Journal root is: {{ allVars.pkp.general.base_url_journal }}
## Site's root is:  {{ allVars.pkp.general.base_url_index }}

# Load modules
LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
LoadModule rewrite_module modules/mod_rewrite.so
LoadModule expires_module modules/mod_expires.so

# The container is running with http behind an httpS reverse proxy, so...
# Trick01: Faking the schema to build httpS urls and avoid "Mixed content" issues.
SetEnvIf X-Forwarded-Proto "https" HTTPS=on

<VirtualHost *:80>
    ServerName localhost
    ServerAlias {{ allVars.dojo.domain }}
    ServerAlias {{ allVars.dojo.id }}

    RewriteEngine On
    AcceptPathInfo On

    # OJS is pysically installed in the container's webroot
    DocumentRoot /var/www/html
    # BUT, the URL includes a folder.
    # Trick 02: Apache will ignore the folder prefix to serve webroot files.
    Alias /{{ allVars.dojo.id }} /var/www/html

    <Directory /var/www/html>
        Options FollowSymLinks
        AllowOverride all
        Allow from all

        DirectoryIndex index.php index.html

        RewriteBase /

        # This removes index.php from the url BUT keeps the folder:
        RewriteCond %{REQUEST_URI} !/index.php
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ {{ allVars.dojo.id }}/index.php/$1 [QSA,L]

    </Directory>

    # LogLevel alert rewrite:trace2

    ErrorLog  /var/log/apache2/error.log
    CustomLog  /var/log/apache2/access.log combined
</VirtualHost>

# Keeping this to show how to configure virtual host if containers include certificates 
# UNTESTED and could collide with former rules.
<VirtualHost *:443>
    ServerName localhost
    ServerAlias {{ allVars.dojo.domain }}
    ServerAlias {{ allVars.dojo.id }}
    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/ssl/apache2/server.pem
    SSLCertificateKeyFile /etc/ssl/apache2/server.key

    PassEnv HTTPS
    RewriteEngine on
    AcceptPathInfo On

    <Directory /var/www/html>
        Options FollowSymLinks
        AllowOverride all
        Allow from all

        # Remove index.php from the url
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ index.php/$1 [QSA,L]
    </Directory>

    # LogLevel alert rewrite:trace2

    ErrorLog  /var/log/apache2/error.log
    CustomLog  /var/log/apache2/access.log combined
</VirtualHost>