; <?php exit(); // DO NOT DELETE ?>
; DO NOT DELETE THE ABOVE LINE!!!
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; WARNING: AVOID EDITING THIS FILE. MODIFY sites INVENTORY INSTEAD.
; This file is a generic template to generate config.inc.php for OJS 3.3.
; This should only be modified if config.inc.php add changes between versions
; and a new variable is included or changed. 
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
; OJS Configuration settings.
;
; Journal:  {{ allVars.dojo.id}}
; Tool:     {{ allVars.dojo.tool }}
; Version:  {{ allVars.dojo.version }}
; Domain:   {{ allVars.dojo.domain }}
; Creation: {{ fileCreation }}
; Template: ojs/config.inc.php-3_3_0.j2
;
; From: 
; https://raw.githubusercontent.com/pkp/ojs/stable-3_3_0/config.TEMPLATE.inc.php
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
; config.TEMPLATE.inc.php
;
; Copyright (c) 2014-2021 Simon Fraser University
; Copyright (c) 2003-2021 John Willinsky
; Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[general]
installed               = {{ allVars.pkp.general.installed | default('Off') | safe }}
base_url                = "{{ allVars.pkp.general.base_url | default('') }}"
{% if allVars.pkp.general.base_url_index is defined %}
base_url[index]         = "{{ allVars.pkp.general.base_url_index | default('') }}"
base_url[{{ allVars.dojo.id }}]         = "{{ allVars.pkp.general.base_url_journal | default('') }}"
{% endif %}
session_cookie_name     = {{ allVars.pkp.general.session_cookie_name | default('OJSSID') | safe }}
; session_cookie_path   = /
session_lifetime        = {{ allVars.pkp.general.session_lifetime | default('30') | safe }}
session_samesite        = {{ allVars.pkp.general.session_samesite | default('Lax') | safe }}
scheduled_tasks         = {{ allVars.pkp.general.scheduled_tasks | default('Off') | safe }}
time_zone               = "{{ allVars.pkp.general.time_zone | default('UTC') }}"
date_format_short       = "%Y-%m-%d"
date_format_long        = "%B %e, %Y"
datetime_format_short   = "%Y-%m-%d %I:%M %p"
datetime_format_long    = "%B %e, %Y - %I:%M %p"
time_format             = "%I:%M %p"
disable_path_info       = {{ allVars.pkp.general.disable_path_info | default('Off') | safe }}
allow_url_fopen         = {{ allVars.pkp.general.allow_url_fopen | default('Off') | safe }}
restful_urls            = {{ allVars.pkp.general.restful_urls | default('Off') | safe }}
; allowed_hosts         = '["myjournal.tld", "anotherjournal.tld", "mylibrary.tld"]'
allowed_hosts           = '{{ allVars.pkp.general.allowed_hosts | default('') | safe }}'
trust_x_forwarded_for   = {{ allVars.pkp.general.trust_x_forwarded_for | default('Off') | safe }}
citation_checking_max_processes = {{ allVars.pkp.general.citation_checking_max_processes | default('3') | safe }}
show_upgrade_warning    = {{ allVars.pkp.general.show_upgrade_warning | default('On') | safe }}
enable_minified         = {{ allVars.pkp.general.enable_minified | default('On') | safe }}
enable_beacon           = {{ allVars.pkp.general.enable_beacon | default('On') | safe }}
sitewide_privacy_statement = {{ allVars.pkp.general.sitewide_privacy_statement | default('Off') | safe }}

[database]
driver                  = {{ allVars.pkp.database.driver | default('mysqli') | safe }}
host                    = {{ allVars.pkp.database.host | default('db') | safe }}
username                = {{ allVars.pkp.database.username | default('ojs') | safe }}
password                = "{{ vault.general.pkp.OJS_DB_PASSWORD | default('ojsPwd') | safe }}"
name                    = {{ allVars.pkp.database.name | default('ojs') | safe }}
debug                   = {{ allVars.pkp.database.debug | default('Off') | safe }}
; See: https://docs.pkp.sfu.ca/dev/release-notebooks/en/3.3-release-notebook#update-connection_charset
client_charset          = utf-8
connection_charset      = utf8
; port                  = 3306
; unix_socket           = /var/run/mysqld/mysqld.sockconnection_charset = utf8
; collation             = utf8mb4_general_ci
debug                   = Off

[cache]
object_cache            = {{ allVars.pkp.cache.object_cache | default('none') | safe }}
memcache_hostname       = {{ allVars.pkp.cache.memcache_hostname | default('localhost') | safe }}
memcache_port           = {{ allVars.pkp.cache.memcache_port | default('11211') | safe }}
web_cache               = {{ allVars.pkp.cache.web_cache | default('Off') | safe }}
web_cache_hours         = {{ allVars.pkp.cache.web_cache_hours | default('1') | safe }}

[i18n]
locale                  = {{ allVars.pkp.i18n.locale | default('en_US') | safe }}
client_charset          = {{ allVars.pkp.i18n.client_charset | default('utf-8') | safe }}
connection_charset      = {{ allVars.pkp.i18n.connection_charset | default('utf8') | safe }}

[files]
files_dir               = {{ allVars.pkp.files.files_dir | default('/var/www/files') | safe }}
public_files_dir        = {{ allVars.pkp.files.public_files_dir | default('public') | safe }}
public_user_dir_size    = {{ allVars.pkp.files.public_user_dir_size | default('5000') | safe }}
umask                   = {{ allVars.pkp.files.umask | default('0022') | safe }}
filename_revision_match = {{ allVars.pkp.files.filename_revision_match | default('70') | safe }}

[finfo]
; mime_database_path    = /etc/magic.mime

[security]
force_ssl               = {{ allVars.pkp.security.force_ssl | default('Off') | safe }}
force_login_ssl         = {{ allVars.pkp.security.force_login_ssl | default('Off') | safe }}
session_check_ip        = {{ allVars.pkp.security.session_check_ip | default('On') | safe }}
encryption              = {{ allVars.pkp.security.encryption | default('sha1') | safe }}
salt                    = "{{ allVars.pkp.security.salt | default('YouMustSetASecretKeyHere!!') | safe }}"
api_key_secret          = "{{ allVars.pkp.security.api_key_secret | default('') | safe }}"
reset_seconds           = {{ allVars.pkp.security.reset_seconds | default('7200') | safe }}
allowed_html            = "{{ allVars.pkp.security.allowed_html | default('a[href|target|title],em,strong,cite,code,ul,ol,li[class],dl,dt,dd,b,i,u,img[src|alt],sup,sub,br,p') | safe }}"
; implicit_auth          = On
; implicit_auth_header_first_name = HTTP_GIVENNAME
; implicit_auth_header_last_name = HTTP_SN
; implicit_auth_header_email = HTTP_MAIL
; implicit_auth_header_phone = HTTP_TELEPHONENUMBER
; implicit_auth_header_initials = HTTP_METADATA_INITIALS
; implicit_auth_header_mailing_address = HTTP_METADATA_HOMEPOSTALADDRESS
; implicit_auth_header_uin = HTTP_UID
; implicit_auth_admin_list = "jdoe@email.ca jshmo@email.ca"
; implicit_auth_wayf_url = "/Shibboleth.sso/wayf"

[email]
smtp                    = {{ allVars.pkp.email.smtp | default('Off') | safe }}
smtp_server             = "{{ allVars.pkp.email.smtp_server | default('mail.example.com') | safe }}"
smtp_port               = "{{ allVars.pkp.email.smtp_port | default('25') | safe }}"
smtp_auth               = "{{ allVars.pkp.email.smtp_auth | default('') | safe }}"
smtp_username           = "{{ allVars.pkp.email.smtp_username | default('') | safe }}"
smtp_password           = "{{ vault.general.pkp.SMTP_PASS | default('') | safe }}"
smtp_authtype           = "{{ allVars.pkp.email.smtp_authtype | default('') | safe }}"
smtp_oauth_provider     = "{{ allVars.pkp.email.smtp_oauth_provider | default('') | safe }}"
smtp_oauth_email        = "{{ allVars.pkp.email.smtp_oauth_email | default('') | safe }}"
smtp_oauth_clientid     = "{{ allVars.pkp.email.smtp_oauth_clientid | default('') | safe }}"
smtp_oauth_clientsecret = "{{ allVars.pkp.email.smtp_oauth_clientsecret | default('') | safe }}"
smtp_oauth_refreshtoken = "{{ allVars.pkp.email.smtp_oauth_refreshtoken | default('') | safe }}"
smtp_suppress_cert_check = "{{ allVars.pkp.email.smtp_suppress_cert_check | default('On') | safe }}"
allow_envelope_sender   = "{{ allVars.pkp.email.allow_envelope_sender | default('Off') | safe }}"
default_envelope_sender = "{{ allVars.pkp.email.default_envelope_sender | default('my_address@my_host.com') | safe }}"
force_default_envelope_sender = "{{ allVars.pkp.email.force_default_envelope_sender | default('Off') | safe }}"
force_dmarc_compliant_from = "{{ allVars.pkp.email.force_dmarc_compliant_from | default('Off') | safe }}"
dmarc_compliant_from_displayname = "{{ allVars.pkp.email.dmarc_compliant_from_displayname | default('%n via %s') | safe }}"
time_between_emails     = "{{ allVars.pkp.email.time_between_emails | default('3600') | safe }}"
max_recipients          = "{{ allVars.pkp.email.max_recipients | default('10') | safe }}"
require_validation      = "{{ allVars.pkp.email.require_validation | default('Off') | safe }}"
validation_timeout      = "{{ allVars.pkp.email.validation_timeout | default('14') | safe }}"

[search]
min_word_length         = {{ allVars.pkp.search.min_word_length | default('3') | safe }}
results_per_keyword     = {{ allVars.pkp.search.results_per_keyword | default('500') | safe }}
; index[application/pdf] = "/usr/bin/pstotext -enc UTF-8 -nopgbrk %s - | /usr/bin/tr '[:cntrl:]' ' '"
; index[application/pdf] = "/usr/bin/pdftotext -enc UTF-8 -nopgbrk %s - | /usr/bin/tr '[:cntrl:]' ' '"
; index[application/postscript] = "/usr/bin/pstotext -enc UTF-8 -nopgbrk %s - | /usr/bin/tr '[:cntrl:]' ' '"
; index[application/postscript] = "/usr/bin/ps2ascii %s | /usr/bin/tr '[:cntrl:]' ' '"
; index[application/msword] = "/usr/bin/antiword %s"
; index[application/msword] = "/usr/bin/catdoc %s"

[oai]
oai                     = {{ allVars.pkp.oai.oai | default ('On') | safe }}
repository_id           = {{ allVars.pkp.oai.id | default ('ojs.localhost') | safe }}
oai_max_records         = {{ allVars.pkp.oai.oai_max_records | default ('100') | safe }}

[interface]
items_per_page          = {{ allVars.pkp.interface.items_per_page | default('25') | safe }}
page_links              = {{ allVars.pkp.interface.page_links | default('10') | safe }}

[captcha]
recaptcha               = {{ allVars.pkp.captcha.recaptcha | default('off') | safe }}
recaptcha_public_key    = {{ allVars.pkp.captcha.recaptcha_public_key | default('your_public_key') | safe }}
recaptcha_private_key   = {{ allVars.pkp.captcha.recaptcha_private_key | default('your_private_key') | safe }}
captcha_on_register     = {{ allVars.pkp.captcha.captcha_on_register | default('on') | safe }}
recaptcha_enforce_hostname = {{ allVars.pkp.captcha.recaptcha_enforce_hostname | default('Off') | safe }}

[cli]
tar                     = {{ allVars.pkp.cli.tar | default('/bin/tar') | safe }}
xslt_command            = "{{ allVars.pkp.cli.xslt_command | default('') | safe }}"

[proxy]
; http_proxy              = "{{ allVars.pkp.proxy.http_proxy | default('') | safe }}"
; https_proxy             = "{{ allVars.pkp.proxy.https_proxy | default('') | safe }}"

[debug]
show_stacktrace         = {{ allVars.pkp.debug.show_stacktrace | default('Off') | safe }}
display_errors          = {{ allVars.pkp.debug.display_errors | default('Off') | safe }}
deprecation_warnings    = {{ allVars.pkp.debug.deprecation_warnings | default('Off') | safe }}
log_web_service_info    = {{ allVars.pkp.debug.log_web_service_info | default('Off') | safe }}

[curl]
; cainfo                = "{{ allVars.pkp.curl.cainfo | default('') | safe }}"
