; <?php exit(); // DO NOT DELETE ?>
; DO NOT DELETE THE ABOVE LINE!!!
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
; config.TEMPLATE.inc.php
;
; Copyright (c) 2014-2021 Simon Fraser University
; Copyright (c) 2003-2021 John Willinsky
; Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
;
; OJS Configuration settings.
; Rename config.TEMPLATE.inc.php to config.inc.php to use.
;
; From: https://raw.githubusercontent.com/pkp/ojs/stable-3_3_0/config.TEMPLATE.inc.php
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[general]
installed = "{{ pkp.general.installed | default('Off') }}"
base_url = "{{ pkp.general.base_url | default('') }}"
scheduled_tasks = "{{ pkp.general.scheduled_tasks | default('Off') }}"
time_zone = "{{ pkp.general.time_zone | default('UTC') }}"
session_cookie_name = "{{ pkp.general.session_cookie_name | default('OJSSID') }}"
session_lifetime = "{{ pkp.general.session_lifetime | default('30') }}"
session_samesite = "{{ pkp.general.session_samesite | default('Lax') }}"
disable_path_info = "{{ pkp.general.disable_path_info | default('Off') }}"
allow_url_fopen = "{{ pkp.general.allow_url_fopen | default('Off') }}"

[database]
driver = "{{ pkp.database.driver | default('mysqli') }}"
host = "{{ pkp.database.host | default('localhost') }}"
username = "{{ pkp.database.username | default('ojs') }}"
password = "{{ pkp.database.password | default('ojsPwd') }}"
name = "{{ pkp.database.name | default('ojs') }}"
debug = "{{ pkp.database.debug | default('Off') }}"

[cache]
object_cache = "{{ pkp.cache.object_cache | default('none') }}"
memcache_hostname = "{{ pkp.cache.memcache_hostname | default('localhost') }}"
memcache_port = "{{ pkp.cache.memcache_port | default('11211') }}"
web_cache = "{{ pkp.cache.web_cache | default('Off') }}"
web_cache_hours = "{{ pkp.cache.web_cache_hours | default('1') }}"

[i18n]
locale = "{{ pkp.i18n.locale | default('en_US') }}"
client_charset = "{{ pkp.i18n.client_charset | default('utf-8') }}"
connection_charset = "{{ pkp.i18n.connection_charset | default('utf8') }}"

[files]
files_dir = "{{ pkp.files.files_dir | default('files') }}"
public_files_dir = "{{ pkp.files.public_files_dir | default('public') }}"
public_user_dir_size = "{{ pkp.files.public_user_dir_size | default('5000') }}"
umask = "{{ pkp.files.umask | default('0022') }}"
filename_revision_match = "{{ pkp.files.filename_revision_match | default('70') }}"

[security]
force_ssl = "{{ pkp.security.force_ssl | default('Off') }}"
force_login_ssl = "{{ pkp.security.force_login_ssl | default('Off') }}"
session_check_ip = "{{ pkp.security.session_check_ip | default('On') }}"
encryption = "{{ pkp.security.encryption | default('sha1') }}"
salt = "{{ pkp.security.salt | default('YouMustSetASecretKeyHere!!') }}"
api_key_secret = "{{ pkp.security.api_key_secret | default('') }}"
reset_seconds = "{{ pkp.security.reset_seconds | default('7200') }}"
allowed_html = "{{ pkp.security.allowed_html | default('a[href|target|title],em,strong,cite,code,ul,ol,li[class],dl,dt,dd,b,i,u,img[src|alt],sup,sub,br,p') }}"

[email]
smtp = "{{ pkp.email.smtp | default('Off') }}"
smtp_server = "{{ pkp.email.smtp_server | default('mail.example.com') }}"
smtp_port = "{{ pkp.email.smtp_port | default('25') }}"
smtp_auth = "{{ pkp.email.smtp_auth | default('') }}"
smtp_username = "{{ pkp.email.smtp_username | default('') }}"
smtp_password = "{{ pkp.email.smtp_password | default('') }}"
smtp_authtype = "{{ pkp.email.smtp_authtype | default('') }}"
smtp_oauth_provider = "{{ pkp.email.smtp_oauth_provider | default('') }}"
smtp_oauth_email = "{{ pkp.email.smtp_oauth_email | default('') }}"
smtp_oauth_clientid = "{{ pkp.email.smtp_oauth_clientid | default('') }}"
smtp_oauth_clientsecret = "{{ pkp.email.smtp_oauth_clientsecret | default('') }}"
smtp_oauth_refreshtoken = "{{ pkp.email.smtp_oauth_refreshtoken | default('') }}"
smtp_suppress_cert_check = "{{ pkp.email.smtp_suppress_cert_check | default('On') }}"
allow_envelope_sender = "{{ pkp.email.allow_envelope_sender | default('Off') }}"
default_envelope_sender = "{{ pkp.email.default_envelope_sender | default('my_address@my_host.com') }}"
force_default_envelope_sender = "{{ pkp.email.force_default_envelope_sender | default('Off') }}"
force_dmarc_compliant_from = "{{ pkp.email.force_dmarc_compliant_from | default('Off') }}"
dmarc_compliant_from_displayname = "{{ pkp.email.dmarc_compliant_from_displayname | default('%n via %s') }}"
time_between_emails = "{{ pkp.email.time_between_emails | default('3600') }}"
max_recipients = "{{ pkp.email.max_recipients | default('10') }}"
require_validation = "{{ pkp.email.require_validation | default('Off') }}"
validation_timeout = "{{ pkp.email.validation_timeout | default('14') }}"

[search]
min_word_length = "{{ pkp.search.min_word_length | default('3') }}"
results_per_keyword = "{{ pkp.search.results_per_keyword | default('500') }}"

[interface]
items_per_page = "{{ pkp.interface.items_per_page | default('25') }}"
page_links = "{{ pkp.interface.page_links | default('10') }}"

[captcha]
recaptcha = "{{ pkp.captcha.recaptcha | default('off') }}"
recaptcha_public_key = "{{ pkp.captcha.recaptcha_public_key | default('your_public_key') }}"
recaptcha_private_key = "{{ pkp.captcha.recaptcha_private_key | default('your_private_key') }}"
captcha_on_register = "{{ pkp.captcha.captcha_on_register | default('on') }}"
recaptcha_enforce_hostname = "{{ pkp.captcha.recaptcha_enforce_hostname | default('Off') }}"

[cli]
tar = "{{ pkp.cli.tar | default('/bin/tar') }}"
xslt_command = "{{ pkp.cli.xslt_command | default('') }}"

[proxy]
http_proxy = "{{ pkp.proxy.http_proxy | default('') }}"
https_proxy = "{{ pkp.proxy.https_proxy | default('') }}"

[debug]
show_stacktrace = "{{ pkp.debug.show_stacktrace | default('Off') }}"
display_errors = "{{ pkp.debug.display_errors | default('Off') }}"
deprecation_warnings = "{{ pkp.debug.deprecation_warnings | default('Off') }}"
log_web_service_info = "{{ pkp.debug.log_web_service_info | default('Off') }}"

[curl]
; cainfo = "{{ pkp.curl.cainfo | default('') }}"
