# File: docker-compose.yml
#
# Site:    {{ site }}
# Tool:    {{ dojo.tool }}
# Version: {{ dojo.version }}
#

version: "3.8"

networks:
  inside:
    external: false

services:
  db:
    image: {{ images.db }}
    env_file:
      - .env
    container_name: "{{ dojo.tool }}_db_${COMPOSE_PROJECT_NAME:-demo}"
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-ojsPwd}"
      MYSQL_DATABASE: "${MYSQL_DATABASE:-ojs}"
      MYSQL_USER: "${MYSQL_USER:-ojs}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-ojsPwd}"
    volumes:
      - ./volumes/db:/var/lib/mysql
      - ./volumes/logs/db:/var/log/mysql
      - ./volumes/config/db.charset.conf:/etc/mysql/conf.d/charset.cnf
      - ./volumes/migration:/docker-entrypoint-initdb.d
    networks:
      - inside
    restart: unless-stopped

  app:
    image: {{ images.app }}
    env_file:
      - .env
    container_name: "{{ dojo.tool }}_app_${COMPOSE_PROJECT_NAME:-demo}"
    hostname: "${COMPOSE_PROJECT_NAME:-demo}"
    volumes:
      # Sync time between docker and host:
      - /etc/localtime:/etc/localtime
      - ./volumes/private:/var/www/files
      - ./volumes/public:/var/www/html/public
      - ./volumes/logs/app:/var/log/apache2
      # - ./volumes/config/config.inc.php:/var/www/html/config.inc.php
      - ./volumes/config/apache.conf:/etc/apache2/conf.d/{{ dojo.tool }}.conf
      # - ./config/apache.htaccess:/var/www/html/.htaccess
      # - ./volumes/config/php.custom.ini:/etc/php7/conf.d/0-custom.ini

      # Plugins shared and read-only:
      # - ../common/plugins:/var/www/html/plugins:ro
      # - ../common/themes/redi:/var/www/html/common/themes/redi:ro
      # - ../common/images:/var/www/html/common/images:ro
      # - ../common/typos:/var/www/html/common/typos:ro

      # Plugins on container:
      # - ./volumes/plugins:/var/www/html/plugins
      # - ./volumes/themes/redi:/var/www/html/plugins/themes/redi
    restart: unless-stopped

    networks:
      - inside
    depends_on:
      - db
